* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    /* background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("../images/desert_meteo.jpg") no-repeat center center/cover; */
     background-color: rgba(0, 0, 0, 0.55); 
    /* background: linear-gradient(135deg, #2c3e50, #4ca1af); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 420px;
}

.card {
    background: rgba(255,255,255,0.95);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    max-width: 600px;
}

.card h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #2980b9;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #1f6391;
}

.link {
    margin-top: 15px;
}

.link a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}
